---
import { Image } from "astro:assets";

const {
  image,
  alt = "Default alt text",
  frame = "Frame 1",
  title,
  role,
  buttonText = "View",
  buttonLink = "#",
} = Astro.props;
---

<div class="static-card">
  <div class="image-wrapper">
    <Image src={image} alt={alt} class="card-image" />
  </div>
</div>

<style>
  .static-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .card-image {
    width: 100%;
    height: 100%;
  }
</style>
