---
const { items = [] } = Astro.props;
---

<style>
  @media (max-width: 768px) {
    .responsive-tech-item {
      display: flex;
      flex-direction: row !important; /* horizontal layout */
      align-items: center !important;
    }

    .responsive-tech-item img {
      margin-right: 12px !important;
      margin-bottom: 0 !important;
    }

    .responsive-tech-item p {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
</style>

{
  items.map((item) => (
    <div
      class="responsive-tech-item"
      style="display: flex; align-items: center; margin-bottom: 10px;"
    >
      <img
        src={item.image}
        alt="Icon"
        style="width: 50px; height: 50px; margin-right: 24px;"
      />
      <p>
        <strong>{item.text.bold}</strong>
        {item.text.regular}
      </p>
    </div>
  ))
}
